@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "materialize/components/color-variables";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("indigo", "base") !default;
@import 'materialize';

@import "materialize/extras/nouislider";
@import "datatables";
@import "custom";

.translation_missing {
  color: red !important;
}
